<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: books-CRUD-header"></header>

<form method="post" action="/books/update">
    <div class="form-group">
        <label>idToUpdate
            <input type="hidden" th:field="${idToUpdate}">
            <select th:field="${idToUpdate}">
                <option th:each="book : ${books}"
                        th:value="${book.id}"
                        th:text="${book.id}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Author
            <input th:field="${book.author}" class="form-control">
        </label>
        <p class="error" th:errors="${book.author}"></p>
    </div>
    <div class="form-group">
        <label>Title
            <input th:field="${book.title}" class="form-control">
        </label>
        <p class="error" th:errors="${book.title}"></p>
    </div>
    <div class="form-group">
        <label>PublishedDate
            <input th:field="${book.publishedDate}" class="form-control">
        </label>
        <p class="error" th:errors="${book.publishedDate}"></p>
    </div>
    <div class="form-group">
        <label>Price
            <input th:field="${book.price}" class="form-control">
        </label>
        <p class="error" th:errors="${book.price}"></p>
    </div>
    <div class="form-group">
        <label>Stock
            <input th:field="${book.stock}" class="form-control">
        </label>
        <p class="error" th:errors="${book.stock}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Update Book" class="btn btn-success">
        <p class="error" th:text="${errMsg}"></p>
    </div>
</form>

</body>
</html>