<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>BookStore</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<nav th:fragment="books-CRUD-header">
    <h1 th:text="${title}">BookStore</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/books/create">Create Book</a></li>
        <li class="nav-item"><a class="nav-link" href="/books">Retrieve Books</a></li>
        <li class="nav-item"><a class="nav-link" href="/books/update">Update Book</a></li>
        <li class="nav-item"><a class="nav-link" href="/books/delete">Delete Book</a></li>
    </ul>
</nav>

<nav th:fragment="users-CRUD-header">
    <h1 th:text="${title}">Users</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/users/create">Create User</a></li>
        <li class="nav-item"><a class="nav-link" href="/users">Retrieve Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/update">Update User</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/delete">Delete User</a></li>
    </ul>
</nav>

</body>
</html>